<div>
    <h1>¿Qué es Rick & Morty?</h1>
    <p>Rick & Morty es una comedia animada de ciencia ficción para adultos creada por Justin Roiland y Dan Harmon para la sesión de noche de Cartoon Network's, Adult Swim. La serie cuenta las desventuras de un científico loco llamado Rick Sanchez y su nieto Morty Smith, juntos pasan el tiempo entre el día a día doméstico y aventuras interdimensionales.</p>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lFubcPQdqhk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
