<h1>Formulario de Registro</h1>

<div class="container-form">
    <form novalidate [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <h3>Regístrate y podrás ver los episodios de Rick and Morty</h3>
        <div class="campos-form">
            <label for="name">Nombre: </label>
            <input type="text" id="name" class="form-control" formControlName="name" required>
        </div>
        <div *ngIf='
            !registerForm.get("name")?.valid &&
            (registerForm.get("name")?.dirty || submitted)
        '><p class="error">Nombre incorrecto: debe contener al menos 3 caracteres</p>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" class="form-control" formControlName="email" required>
        </div>
        <div *ngIf='
            !registerForm.get("email")?.valid &&
            (registerForm.get("email")?.dirty || submitted)
        '><p class="error">Email incorrecto</p>
        </div>


        <div>
            <label>Contraseña: </label>
            <input type="password" class="form-control" formControlName="password" required>
        </div>
        <div *ngIf='
            !registerForm.get("password")?.valid &&
            (registerForm.get("password")?.dirty || submitted)
            '><p class="error">Contraseña incorrecta: debe tener entre 5 y 8 caracteres</p>
        </div>
        <button type="submit">Registrarme ahora</button>
    </form>
</div>